 body {
     margin: 0;
     background-color: rgb(248, 239, 228);
 }

 h2 {
     text-align: center;
 }

 .conatiner {
     background-image: url(blur3.jpg);
     height: 100px;
     margin-top: -39px;
 }

 .conatiner h1 {
     text-align: center;
     color: #02a57f;
     margin-left: 33vw;
     width: 30vw;
     padding: 2vw;
     max-width: max-content;
 }

 .college h2 {
     text-align: center;
     color: rgb(11, 11, 88);
     width: 28vw;
     margin-left: 33vw;
     margin-top: -7px;
     padding: 25px;
     max-width: max-content;
     font-weight: bold;
     font-size: 30px;
}

 #gr {
     margin-left: 34vw;
     color: rgb(11, 11, 88);
     width: 25vw;
     font-size: 2vw;
     margin-top: 3vw;
     padding: 20px;
 }

 #line {
     color: black;
     border: solid;
     margin-top: -1vw;
     width: 20px;
     margin-left: 38vw;
 }

 #i {
     height: 40vw;
     width: 60vw;
     text-align: justify;
     margin-left: 18vw;
 }

 ol {
     font-weight: bold;
     margin-left: 18vw;
     margin-top: -30vw;
 }

 #size {
     font-size: 3vw;
 }

 #line {
     width: 20vw;
     border: solid black 1px;
 }

 .detail input {
     margin-left: 20vw;
     height: 30px;
     width: 25vw;
 }

 .detail label {
     margin-left: 20vw;
     font-size: 20px;
 }

 .dob input {
     margin-left: 5vw;
     margin-top: 19px;
     height: 30px;
     width: 25vw;

 }

 .dob label {
     margin-left: 5vw;
     font-size: 20px;
 }

 .form {
     display: flex;

 }

 .h {
     margin-left: 20vw;
 }

 .h label {
     font-size: 20px;
 }

 .en {
     display: flex;
     flex-wrap: wrap;
 }

 #top {
     width: 57vw;
     height: 5vw;
     margin-left: 20vw;
 }

 .area label {
     margin-left: 20vw;
     font-size: 20px;
 }

 .button {
     margin-left: 50%;
     margin-top: 25px;
     height: 30px;
     width: 70px;
     background-color: rgb(30, 184, 30);
     color: white;
     border: solid rgb(30, 184, 30);
 }

 .button:hover {
     background-color: green;
 }
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  footer {
    background-color: #0b3f33;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .bottom{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  
  .content{
    max-width: 300px;
    margin: 10px;
  }
  
  .content h4 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .content ul {
    list-style: none;
    padding: 0;
  }
  
  .content li {
    margin: 5px 0;
  }
  
  .content li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
  }
  
  .content ul li a:hover {
    color:  #02a57f;
    transform: scale(1.03);
  }
  
  .end{
    margin-top: 20px;
    font-size: 14px;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
 